@media (min-width:721px) {
	html {
		overflow-x: hidden;
	}

	body {
		background-color: #E4BE9E;
	}

	h1 {
position: absolute;
width: 1440px;
height: 253px;
left:250px;
top: 150px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 100px;
line-height: 88px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
	}
.backlet{
	position: relative;
	font-family: Montserrat;
	font-weight:bold;
	right:20px;
	bottom: 135px;
	font-size:100px;
	color: #AF5D63;
}
.top{
	width: 230px;
	height:290px;
	position: absolute;
	bottom: 465px;
	left: 1060px;
}
 .botleft{
	width: 330px;
	height:430px;
	position: absolute;
	top: 323px;
	right: 1170px;
	 
	 
 }
 .botright{
	width: 290px;
	height:290px;
	position: absolute;
	top: 463px;
	left: 1170px;
	 
	 
 }
 .botquote{
	width: 620px;
	height:100px;
	position: absolute;
	top: 590px;
	right: 450px;
	font-family: 'Zen Loop', cursive;
	font-size: 25px;
	
 }













}
